*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
repo/
download_repo.ps1

*.apk
*.aar
releases/
repo/
BlackHoleDownloader_v1.0.apk
